extends _layout

block settings
  - var title = 'Рецепты';
  - var user_authorised = false;

block content
  .page-headling
    .image(style="background-image: url('images/content/bg-6.png')")
    .text
      .helper
        h2 рецепты от kamis
        p Вдохновляйтесь на жизнь со вкусом
  .m_recipes
    .section-title
      h2 Самые популярные рецепты
      p Получайте удовольствие от вкусов, которые вы любите, и открывайте новые.
    .recipes-list
      each item in top_recipes
        .item(data-item-type=item.type)
          .image(style="background-image: url("+item.image+")"): a(href="#")
          .bottom
            .title: a(href="#") #{item.title}
            .like-counter
              button #{item.like_counter}
    .details
      a(class="btn" href="#") Посмотреть еще
  .m_lead-recipes
    .section-title
      h2 Рецепты
    .recipes-nav
      .selected-recipe-collapse
      ul
        li: a(class="current" data-recipe-type="recipes-item" href="#") Основной игредиент
        li: a(data-recipe-type="dish" href="#") Блюдо
        li: a(data-recipe-type="national" href="#") Кухня
        li: a(data-recipe-type="special" href="#") Особые случаи
    .recipes-list.is-large
      each item in recipes_page
        .item(data-item-type=item.type)
          .image(style="background-image: url("+item.image+")"): a(href="#")
          .bottom
            .title: a(href="#") #{item.title}
  include ../modules/rss-form/m_rss-form